<h4 class="border rounded border-light background-on-primary fw-600 px-4 py-2 mb-2 rounded-4" i18n>Material Description</h4>

<div class="border rounded rounded-4 border-light px-5 py-3 d-flex flex-wrap gap-3">
  @for (item of items; track item.label) {
    <div class="item d-flex gap-4 align-items-center mb-4">
      <app-icon backgroundColor="#E5F6F0" iconClassName="primary" [iconName]="item.icon" />

      <div class="">
        <p class="fw-bold text-uppercase mb-0 label">{{ item.label }}</p>
        <p class="text-uppercase mb-0 value">{{ item.value ?? '' }}</p>
      </div>
    </div>
  }

  <ng-content></ng-content>
</div>
