@if (!isSeller || isOwnListing()) {
  <div class="d-flex flex-column align-items-center border border-primary background-on-primary rounded rounded-4 gap-3 p-4 mb-4">
    <button mat-flat-button class="text-uppercase action-button" [routerLink]="['/sell']">Sell material</button>
    <p class="text-uppercase text-decoration-underline fw-bold underlink" i18n>message buyer</p>
  </div>
  <div class="d-flex flex-column align-items-center">
    <button mat-flat-button class="text-uppercase w-100 py-4 mb-4 background-dark text-white fw-bold">Fulfil</button>
    <button
      mat-flat-button
      class="text-uppercase w-100 py-4 mb-4 background-error text-white fw-bold"
      (click)="onDeleteListing()"
      [class.overlay-spinner]="deleting()"
    >
      Remove listing
    </button>
  </div>
} @else {
  <div class="d-flex flex-column align-items-center border border-light background-on-primary rounded rounded-4 gap-3 p-4">
    <button mat-flat-button class="text-uppercase w-100 action-button" (click)="onBid()">bid now</button>
    <p class="text-uppercase text-decoration-underline fw-bold underlink" i18n>Request information</p>
  </div>
}
