<div class="mt-5">
  <span class="fw-bold" i18n> List available material in the marketplace</span>
  <div class="border border-1px border-primary rounded rounded-4 p-5 mt-3 col-9">
    <!-- upload media section -->
    <div class="mb-5">
      <h6 class="fw-bold mb-2 fs-24" style="width: 700px" i18n>Upload Media</h6>
      <div class="px-2 py-3 background-on-primary d-flex align-items-center mb-4">
        <div class="col-1 text-center d-flex align-items-center justify-content-center">
          <mat-icon class="material-icons-outlined primary">error_outline</mat-icon>
        </div>
        <div i18n class="fw-500 fs-16">This is recommended to optimise the matches for your requirements.</div>
      </div>
      <div class="border-thin p-3 rounded rounded-4">
        <div class="col-7 mx-auto">
          <div class="fw-bold mb-4 mt-4" i18n>FEATURED IMAGE*</div>
          <app-file-upload
            [maxFile]="1"
            (filesAdded)="handleFileReady($event)"
            [notAcceptable]="['.pdf', '.doc', '.docx', '.xls', '.xlsx', '.jpg']"
            [expiryDateMode]="'hidden'"
          ></app-file-upload>
          <span class="d-block mt-3" i18n>Accepted file type: jpeg, png, Max. file size: 25MB, Max. file: 1</span>
          <span class="mb-3" i18n>This is main profile image for the listing</span>
        </div>
      </div>
    </div>
    <!-- material wanted -->
    <form [formGroup]="formGroup">
      <div class="mb-5">
        <h6 class="fw-bold mb-2 fs-24" style="width: 700px" i18n>Material Wanted</h6>
        <div class="border-thin px-4 py-5 rounded rounded-4">
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>COUNTRY WASTE REQUIRED IN*</div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="country" placeholder="Please Select">
                @for (country of countryOption; track country.isoCode) {
                  <mat-option [value]="country.isoCode" class="option-bold-label">{{ country.name }}</mat-option>
                }
              </mat-select>
              @if (formGroup.get('country')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>MATERIAL TYPE*</div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="materialType" placeholder="Please Select">
                @for (materialType of materialTypes; track materialType.code) {
                  <mat-option [value]="materialType.code" class="option-bold-label">{{ materialType.name }}</mat-option>
                }
              </mat-select>
              @if (formGroup.get('materialType')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>ITEM*</div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="materialItem" placeholder="Please Select">
                @for (item of itemOption(); track $index) {
                  <mat-option [value]="item.code">{{ item.name }}</mat-option>
                }
              </mat-select>
              @if (formGroup.get('materialItem')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>FORM*</div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="materialForm" placeholder="Please Select">
                @if (formOption().length == 0 && formGroup.get('materialType')?.touched) {
                  <mat-option value="N/A">N/A</mat-option>
                } @else {
                  @for (form of formOption(); track $index) {
                    <mat-option [value]="form.code">{{ form.name }}</mat-option>
                  }
                }
              </mat-select>
              @if (formGroup.get('materialForm')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>GRADING*</div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="materialGrading" placeholder="Please Select">
                @if (gradingOption().length == 0 && formGroup.get('materialType')?.touched) {
                  <mat-option value="N/A">N/A</mat-option>
                } @else {
                  @for (grading of gradingOption(); track $index) {
                    <mat-option [value]="grading.code">{{ grading.name }}</mat-option>
                  }
                }
              </mat-select>
              @if (formGroup.get('materialGrading')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>COLOUR*</div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="materialColor" placeholder="Please Select">
                @for (colour of colourOption; track $index) {
                  <mat-option [value]="colour.code">{{ colour.name }}</mat-option>
                }
              </mat-select>
              @if (formGroup.get('materialColor')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>FINISHING*</div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="materialFinishing" placeholder="Please Select">
                @for (finishing of finishingOption; track $index) {
                  <mat-option [value]="finishing.code">{{ finishing.name }}</mat-option>
                }
              </mat-select>
              @if (formGroup.get('materialFinishing')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>PACKING*</div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="materialPacking" placeholder="Please Select">
                @for (packing of packingOption; track $index) {
                  <mat-option [value]="packing.code">{{ packing.name }}</mat-option>
                }
              </mat-select>
              @if (formGroup.get('materialPacking')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>CAPACITY PER MONTH*</div>
            <mat-form-field appearance="outline" class="w-100">
              <input type="number" min="1" matInput placeholder="Type here" formControlName="capacityPerMonth" />
              @if (formGroup.get('capacityPerMonth')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
              @if (formGroup.get('capacityPerMonth')?.hasError('min')) {
                <mat-error class="mt-0" i18n> Please enter a positive number </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>MFI REQUIREMENTS*</div>
            <mat-radio-group
              class="w-100 d-flex justify-content-between bold-label"
              formControlName="materialFlowIndex"
              name="materialFlowIndex"
            >
              <mat-radio-button value="low" i18n>Low (0.1 - 10)</mat-radio-button>
              <mat-radio-button value="medium" i18n>Medium (10 - 40)</mat-radio-button>
              <mat-radio-button value="high" i18n>High (40+)</mat-radio-button>
            </mat-radio-group>
            <div>
              @if (formGroup.get('materialFlowIndex')?.hasError('required') && formGroup.get('materialFlowIndex')?.touched) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
            </div>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>HOW SHOULD THE WASTE BE STORED*</div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="wasteStoration" placeholder="Please Select">
                <mat-option value="indoor" class="option-bold-label" i18n>Indoor</mat-option>
                <mat-option value="outdoor" class="option-bold-label" i18n>Outdoor</mat-option>
                <mat-option value="both" class="option-bold-label" i18n>Both</mat-option>
                <mat-option value="any" class="option-bold-label" i18n>Any</mat-option>
              </mat-select>
              @if (formGroup.get('wasteStoration')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold">QUANTITY WANTED*</div>
            <mat-form-field appearance="outline" class="w-100">
              <input type="number" min="1" matInput placeholder="Type here" formControlName="materialWeightWanted" />
              @if (formGroup.get('materialWeightWanted')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
              @if (formGroup.get('materialWeightWanted')?.hasError('min')) {
                <mat-error class="mt-0" i18n> Please enter a positive number </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>MATERIAL WEIGHT UNIT*</div>
            <mat-radio-group class="col-7 d-flex justify-content-between bold-label" formControlName="weightUnit" name="weightUnit">
              <mat-radio-button value="mt" i18n>Mt</mat-radio-button>
              <mat-radio-button value="lbs" i18n>Lbs</mat-radio-button>
              <mat-radio-button value="kg" i18n>Kg</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-9 mx-auto mb-5">
            <div class="mb-2 fw-bold" i18n>MATERIAL REQUIRED FROM*</div>
            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="startDate"
                readonly
                [min]="today"
                class="fw-bold"
                placeholder="dd/mm/yyyy"
              />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              @if (formGroup.get('startDate')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
              @if (formGroup.get('startDate')?.hasError('past')) {
                <mat-error class="mt-0" i18n> Please enter a date in the future. </mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- additional information -->
      <div class="mb-5">
        <h6 class="fw-bold mb-2 fs-24" style="width: 700px" i18n>Additional Information</h6>
        <div class="border-thin px-4 py-5 rounded rounded-4">
          <div class="col-9 mx-auto">
            <div class="fw-bold">DESCRIPTION</div>
            <mat-form-field appearance="outline" class="w-100">
              <textarea matInput rows="7" style="resize: none; height: 345px" formControlName="additionalNotes"></textarea>
              @if (formGroup.get('additionalNotes')?.hasError('required')) {
                <mat-error class="mt-0" i18n> This field is required </mat-error>
              }
              @if (formGroup.get('additionalNotes')?.hasError('maxlength')) {
                <mat-error class="mt-0" i18n> Your additional information exceeds the character limit. </mat-error>
              }
              @if (formGroup.get('additionalNotes')?.hasError('containsEmail')) {
                <mat-error class="mt-0" i18n> Additional Information should not contain email addresses. </mat-error>
              }
              @if (formGroup.get('additionalNotes')?.hasError('containsPhoneNumber')) {
                <mat-error class="mt-0" i18n> Additional Information should not contain phone number. </mat-error>
              }
              @if (formGroup.get('additionalNotes')?.hasError('containsUrl')) {
                <mat-error class="mt-0" i18n> Additional Information should not contain url. </mat-error>
              }
            </mat-form-field>
            <span>{{ additionalInformationLength() }} of 1000 max characters</span>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <h6 class="fw-bold mb-2 fs-24" style="width: 700px" i18n>Ongoing Listing</h6>
        <div class="border-thin px-4 py-5 rounded rounded-4">
          <div class="col-9 mx-auto mb-5">
            <mat-radio-group
              class="col-5 d-flex justify-content-between"
              formControlName="ongoingListing"
              name="ongoingListing"
              (change)="ongoingListingChange($event)"
            >
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>

          @if (formGroup.get('ongoingListing')?.value == 'true') {
            <div class="col-9 mx-auto mb-5">
              <div class="mb-2 fw-bold">RENEWAL PERIOD*</div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="listingRenewalPeriod" placeholder="Please Select" c>
                  <mat-option class="option-bold-label" value="weekly">Weekly</mat-option>
                  <mat-option class="option-bold-label" value="fortnightly">Fortnightly</mat-option>
                  <mat-option class="option-bold-label" value="monthly">Monthly</mat-option>
                </mat-select>
                @if (formGroup.get('listingRenewalPeriod')?.hasError('required')) {
                  <mat-error class="mt-0" i18n> This field is required </mat-error>
                }
              </mat-form-field>
            </div>
          }
          @if (formGroup.get('ongoingListing')?.value == 'false') {
            <div class="col-9 mx-auto mb-5">
              <div class="mb-2 fw-bold" i18n>SELECT END DATE*</div>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput [matDatepicker]="picker1" formControlName="listingDuration" readonly [min]="today" class="fw-bold" />
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                @if (formGroup.get('listingDuration')?.hasError('required')) {
                  <mat-error class="mt-0" i18n> This field is required </mat-error>
                }
                @if (formGroup.get('listingDuration')?.hasError('past')) {
                  <mat-error class="mt-0" i18n> Please enter a date in the future. </mat-error>
                }
              </mat-form-field>
            </div>
          }
        </div>
      </div>

      <div class="mx-auto">
        <button
          mat-flat-button
          type="submit"
          class="w-100 fw-bold"
          [class.overlay-spinner]="submitting()"
          [disabled]="formGroup.invalid || !selectedFile().length"
          (click)="send()"
        >
          SUBMIT LISTING
        </button>
      </div>
    </form>
  </div>
</div>
