<div class="container-fluid p-3 p-md-4 p-lg-4">
  <div class="d-flex justify-content-between align-items-center w-100" mat-dialog-title>
    <h2 class="fw-bold flex-grow-1">Material Preferences</h2>
    <div (click)="close()" class="cursor-pointer">
      <app-icon iconName="close"></app-icon>
    </div>
  </div>

  <mat-dialog-content>
    <form [formGroup]="formGroup">
      <div class="col-12 mb-3">
        <mat-checkbox
          class="bold-label fs-16"
          color="primary"
          (change)="selectAllMaterial.set(!selectAllMaterial())"
          [checked]="isCheckedSelectAllMaterial()"
          >{{ selectAllMaterial() ? 'Deselect All' : 'Select All' }}</mat-checkbox
        >
      </div>
      @for (material of materialType; track $index) {
        @if (material.materials.length > 0) {
          <div class="mb-3">
            <mat-expansion-panel [expanded]="isOpenGroup(material.materials) || selectAllMaterial()">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="fw-bold text-uppercase fs-16">{{ material.name }}</div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="col-12 mb-4" style="margin-left: 10px">
                <div class="row px-3">
                  @for (item of material.materials; track $index; let i = $index) {
                    <div
                      class="col-12 col-sm-3 mb-2 pe-4"
                      [class.col-sm-6]="item.name.length >= 20 && item.name.length < 30"
                      [class.col-sm-12]="item.name.length >= 30"
                    >
                      <div class="d-flex">
                        <mat-checkbox
                          color="primary"
                          class="bold-label"
                          (change)="onSelectedMaterial($event, item.code)"
                          [checked]="favoriteMaterials.value.includes(item.code)"
                        >
                          <span class="text-wrap">{{ item.name }}</span>
                        </mat-checkbox>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        }
      }
      @if (favoriteMaterials.hasError('required') && favoriteMaterials.touched) {
        <span class="error">This field is required</span>
      }
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="d-flex justify-content-between align-items-center gap-3 col-md-12 col-12">
      <button mat-stroked-button class="text-uppercase outline-primary-btn w-100 fs-16" (click)="close()">Discard Changes</button>
      <button
        mat-flat-button
        [disabled]="favoriteMaterials.value.length == 0 || favoriteMaterials.pristine"
        class="text-uppercase primary-btn w-100 fw-bold fs-16"
        [class.overlay-spinner]="submitting()"
        (click)="submit()"
      >
        Save Changes
      </button>
    </div>
  </mat-dialog-actions>
</div>
