<app-un-auth-layout>
  <div class="col-md-6 mx-auto">
    <div class="fs-24 box-shadow p-3 background-primary border-radius text-white text-center mt-3 mb-5" i18n>
      Do you have a WasteTrade account ?
      <a href="" class="text-white fw-bold text-decoration-underline fs-24">Login</a>
    </div>
    <div class="border border-radius border-1 border-dark p-4 bg-white">
      <div class="mb-4 fw-bold fs-48" i18n>Register</div>
      <h6 class="mb-4 mt-5 primary fw-bold" i18n>BASIC DETAILS</h6>
      <form [formGroup]="formGroup">
        <div class="row g-3 mb-4">
          <div class="col-md-2">
            <mat-label class="fw-bold mb-1" i18n>PREFIX*</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="prefix" placeholder="Please Select">
                <mat-option value="dr" i18n> Dr.</mat-option>
                <mat-option value="miss" i18n>Miss.</mat-option>
                <mat-option value="mr" i18n>Mr.</mat-option>
                <mat-option value="mrs" i18n>Mrs.</mat-option>
                <mat-option value="ms" i18n>Ms.</mat-option>
                <mat-option value="mx" i18n>Mx.</mat-option>
                <mat-option value="prof" i18n>Prof.</mat-option>
                <mat-option value="rev" i18n>Rev.</mat-option>
              </mat-select>
              @if (formGroup.get('prefix')?.hasError('required')) {
                <mat-error i18n>This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-label class="fw-bold mb-1" i18n>FIRST NAME*</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="e.g. Mark" type="text" formControlName="firstName" />
              @if (formGroup.get('firstName')?.hasError('required')) {
                <mat-error i18n>First Name is required </mat-error>
              }
              @if (formGroup.get('firstName')?.hasError('maxlength')) {
                <mat-error i18n>First Name cannot exceed 50 characters</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <label class="fw-bold" i18n>LAST NAME*</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="e.g. Smith" type="text" formControlName="lastName" />
              @if (formGroup.get('lastName')?.hasError('required')) {
                <mat-error i18n>Last Name is required </mat-error>
              }
              @if (formGroup.get('lastName')?.hasError('maxlength')) {
                <mat-error i18n>Last Name cannot exceed 50 characters</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 mb-4">
          <mat-label class="fw-bold mb-1" i18n>JOB TITLE*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Type here" type="text" formControlName="jobTitle" />
            @if (formGroup.get('jobTitle')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
            @if (formGroup.get('jobTitle')?.hasError('maxlength')) {
              <mat-error i18n>Job Title cannot exceed 50 characters </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row mb-4">
          <app-telephone-form-control formControlName="phoneNumber" [isRequired]="true"></app-telephone-form-control>
        </div>
        <div class="row mb-4">
          <app-input-with-confirm-control
            valueLabel="EMAIL*"
            confirmLabel="CONFIRM EMAIL*"
            valueErrorLabel="Email"
            valueErrorLabel="Confirm Email"
            placeholder="Enter Email"
            formControlName="email"
            [type]="'text'"
            [required]="true"
            [isEmail]="true"
          >
          </app-input-with-confirm-control>
        </div>
        <div class="row mb-4">
          <app-input-with-confirm-control
            valueLabel="PASSWORD*"
            confirmLabel="CONFIRM PASSWORD*"
            placeholder="Type here"
            [type]="'password'"
            formControlName="password"
            [required]="true"
          >
          </app-input-with-confirm-control>
          @if (formGroup.get('password')?.hasError('pwdStrengthInvalid')) {
            <div class="col-12">
              <mat-error i18n>
                Invalid password strength. Password must contain at least 8 characters includes numbers and letters, contain at least 1
                special character.
              </mat-error>
            </div>
          }
          @if (pwdStrength(); as pwdStrength) {
            <div class="fw-500 col-12" i18n>
              Strength:
              <span
                [class.primary]="pwdStrength == 'strong'"
                [class.error]="pwdStrength == 'weak'"
                [class.secondary]="pwdStrength == 'medium'"
                >{{ pwdStrength | titlecase }}</span
              >
            </div>
          }
        </div>

        <h6 class="mb-4 mt-5 primary fw-bold" i18n>COMPANY DETAILS</h6>

        <div class="col-12 mb-4">
          <mat-label class="fw-bold mb-1" i18n>COMPANY NAME*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="ex. WasteTrade" type="text" formControlName="companyName" />
            @if (formGroup.get('companyName')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
            @if (formGroup.get('companyName')?.hasError('maxlength')) {
              <mat-error i18n>Company Name cannot exceed 100 characters</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 mb-4">
          <mat-label class="mb-0 fw-bold" i18n> COMPANY INTEREST* </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select placeholder="Please Select" formControlName="companyInterest">
              <mat-option value="both" i18n> Both</mat-option>
              <mat-option value="seller" i18n>Seller</mat-option>
              <mat-option value="buyer" i18n>Buyer</mat-option>
            </mat-select>
          </mat-form-field>
          @if (formGroup.get('companyInterest')?.hasError('required') && formGroup.get('companyInterest')?.touched) {
            <mat-error class="mt-0 mat-error" i18n>This field is required</mat-error>
          }
        </div>
        <h6 class="mb-4 mt-5 primary" i18n><span class="fw-bold">MATERIALS ACCEPTED</span> (MULTIPLE SELECTION)</h6>
        <div class="col-12 mb-3">
          <mat-checkbox class="tri-state-checkbox bold-label" color="primary" (change)="selectAllMaterial.set(!selectAllMaterial())">{{
            selectAllMaterial() ? 'Deselect All' : 'Select All'
          }}</mat-checkbox>
        </div>
        @for (material of materialsAccept; track $index) {
          @if (material.materials.length > 0) {
            <div class="mb-3">
              <mat-expansion-panel [expanded]="selectAllMaterial()">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="fw-bold" i18n>{{ material.name | uppercase }}</div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row px-3">
                  @for (item of material.materials; track $index; let i = $index) {
                    <div
                      class="col-12 mb-2 pe-4"
                      [class.col-md-5]="item.name.length <= 15"
                      [class.col-md-6]="item.name.length >= 15 && item.name.length <= 20"
                      [class.col-md-7]="item.name.length > 20 && item.name.length <= 30"
                      [class.col-md-10]="item.name.length > 30 && item.name.length <= 40"
                      [class.col-md-12]="item.name.length > 40"
                    >
                      <div class="d-flex">
                        <mat-checkbox
                          class="bold-label"
                          color="primary"
                          (change)="onSelectedMaterial($event, item.code)"
                          [checked]="materials.value.includes(item.code)"
                        >
                          <span class="text-wrap">{{ item.name }}</span>
                        </mat-checkbox>
                      </div>
                    </div>
                  }
                </div>
              </mat-expansion-panel>
            </div>
          }
        }
        <div class="col-auto mb-2">
          <mat-checkbox class="bold-label" color="primary" (change)="showOtherMaterial.set(!showOtherMaterial())"> Other </mat-checkbox>
        </div>
        @if (showOtherMaterial()) {
          <div class="col-12">
            <mat-label class="fw-bold" i18n>OTHER MATERIAL*</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Type here" type="text" formControlName="otherMaterial" />
              @if (formGroup.get('otherMaterial')?.hasError('required') && formGroup.get('otherMaterial')?.touched) {
                <mat-error i18n>This field is required </mat-error>
              }
              @if (formGroup.get('otherMaterial')?.hasError('maxlength')) {
                <mat-error i18n>Other Material cannot exceed 100 characters </mat-error>
              }
            </mat-form-field>
          </div>
        }
        @if (materials.hasError('required') && materials.touched) {
          <mat-error class="mat-error" i18n>This field is required</mat-error>
        }
        <hr />
        <!-- <h6 class="mb-4 mt-5 primary" i18n>DECLARATION</h6> -->
        <div class="col-12 mb-4">
          <mat-label class="fw-bold mb-1" i18n>WHERE DID YOU HEAR ABOUT US ?*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select class="fw-bold" placeholder="Please select" formControlName="whereDidYouHearAboutUs">
              <mat-option class="option-bold-label" value="google_search" i18n>Google Search</mat-option>
              <mat-option class="option-bold-label" value="prse_trade_show" i18n>PRSE Trade Show</mat-option>
              <mat-option class="option-bold-label" value="plastics_live_trade_show" i18n>Plastics Live Trade Show</mat-option>
              <mat-option class="option-bold-label" value="sustainability_show" i18n>Sustainability show</mat-option>
              <mat-option class="option-bold-label" value="k_show" i18n> K-Show</mat-option>
              <mat-option class="option-bold-label" value="interpack" i18n>Interpack</mat-option>
              <mat-option class="option-bold-label" value="plast_2023" i18n>Plast 2023</mat-option>
              <mat-option class="option-bold-label" value="word_of_mouth" i18n>Word of mouth</mat-option>
            </mat-select>
            @if (formGroup.get('whereDidYouHearAboutUs')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 mt-3">
          <mat-checkbox color="primary" formControlName="acceptTerm" i18n
            >I accept the
            <a class="fw-bold text-dark text-underline" href="/termsandconditions" target="_blank">Terms & Condition</a>
            and
            <a class="fw-bold text-dark text-underline" href="/privacy-policy" target="_blank">Privacy Policy</a>
            by joining WasteTrade. *
          </mat-checkbox>
          @if (formGroup.get('acceptTerm')?.invalid && formGroup.get('acceptTerm')?.touched) {
            <mat-error class="mt-0 mat-error" i18n> You must accept the Terms & Conditions and Privacy Policy to proceed. </mat-error>
          }
        </div>
        <div class="col-12 mt-3">
          <button
            type="submit"
            color="primary"
            mat-flat-button
            class="w-100 big-btn fw-bold"
            [class.overlay-spinner]="submitting()"
            [disabled]="formGroup.invalid"
            (click)="send()"
            i18n
          >
            CREATE ACCOUNT
          </button>
        </div>
      </form>
    </div>
  </div>
</app-un-auth-layout>
