<app-common-layout [title]="'Marketplace'">
  <app-filter
    [displayFilter]="['country', 'materialType', 'materialItem', 'wasteStoration', 'showFullfilledListing', 'sortBy']"
    (filterChanged)="onFilterChange($event)"
  ></app-filter>

  <div class="mid-content-wrapper">
    @if (loading()) {
      <app-spinner></app-spinner>
    } @else if (!loading() && items().length > 0) {
      <app-product-grid
        [items]="items()"
        [totalItems]="totalItem()"
        (selectItem)="onSelect($event)"
        (delete)="deleteItem($event)"
        [deletable]="true"
      ></app-product-grid>
      <app-pagination [pageNumber]="page()" [totalCount]="totalItem()" (pageChange)="onPageChange($event)"></app-pagination>
    } @else {
      <app-unsuccessful-search></app-unsuccessful-search>
    }

    <hr class="mt-5 mb-0" />

    <app-listing-footer></app-listing-footer>
  </div>
</app-common-layout>
