<app-common-layout [title]="'Marketplace'">
  <app-filter
    [displayFilter]="['country', 'materialType', 'materialItem', 'wasteStoration', 'showFullfilledListing']"
    (filterChanged)="onFilterChange($event)"
  ></app-filter>

  <button (click)="onBid()">Bidding</button>

  <div class="mid-content-wrapper">
    <app-product-grid [items]="products" [totalItems]="100"></app-product-grid>

    <app-pagination [pageNumber]="4" [totalPage]="10" (pageChange)="onPageChange($event)"></app-pagination>

    <hr class="mt-5 mb-0" />

    <app-listing-footer></app-listing-footer>
  </div>
</app-common-layout>
