@import "variables";

.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.menu-title {
  font-weight: bold;
  margin-bottom: 0;
}

::ng-deep .language-menu {
  box-shadow: none !important;
  margin-top: 10px;

  .mat-mdc-menu-content {
    width: 150px;
    padding: 19px 21px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid $primary;
  }
}
