<div class="w-100">
  <div class="border border-primary rounded-4 p-3 p-md-4 mt-4 mb-3">
    <div class="row gy-3 gy-md-4">
      <!-- SELLER Section -->
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <div class="fw-bold mb-2 mb-md-3 text-uppercase">SELLER</div>
        <p class="mb-1 small">{{ listing?.createdBy?.user?.id }}</p>
        <p class="mb-1 small">{{ listing?.createdBy?.user?.firstName }} {{ listing?.createdBy?.user?.lastName }}</p>
        <p class="mb-1 small">{{ listing?.createdBy?.company?.name }}</p>
        <p class="mb-1 small">{{ countryCodeToName(listing?.createdBy?.location?.country) }}</p>
      </div>

      <!-- MATERIAL Section -->
      <div class="col-12 col-md-6 col-lg-3 col-xl-2">
        <div class="fw-bold mb-2 mb-md-3 text-uppercase">MATERIAL</div>
        <p class="mb-1 small">{{ getMaterialName(listing?.material_type) }}</p>
      </div>

      <!-- Mobile separator -->
      <div class="col-12 d-lg-none">
        <hr class="my-2" />
      </div>

      <!-- Middle Information Section -->
      <div class="col-12 col-lg-6 col-xl-6">
        <div class="row gy-2 gy-md-3">
          <!-- First Row -->
          <div class="col-6 col-md-3 mb-4">
            <div class="fw-bold mb-2 mb-md-3 text-uppercase">DATE</div>
            <p class="mb-1 small">{{ listing?.created_at | date: 'dd/MM/YYYY' }}</p>
          </div>
          <div class="col-6 col-md-3 mb-4">
            <div class="fw-bold mb-2 mb-md-3 text-uppercase">DATE AVAILABLE</div>
            <p class="mb-1 small">{{ listing?.start_date | date: 'dd/MM/YYYY' }}</p>
          </div>
          <div class="col-6 col-md-3 mb-4">
            <div class="fw-bold mb-2 mb-md-3 text-uppercase">NO. OF OFFER</div>
            <p class="mb-1 small">{{ listing?.numberOfOffers }}</p>
          </div>
          <div class="col-6 col-md-3 mb-4">
            <div class="fw-bold mb-2 mb-md-3 text-uppercase">STATUS</div>
            <p class="mb-1 small fw-500" [style.color]="getStatusColor(listing!.status)">{{ listing?.status | titlecase }}</p>
          </div>

          <!-- Second Row -->
          <div class="col-6 col-md-3">
            <div class="fw-bold mb-2 mb-md-3 text-uppercase">BEST OFFER</div>
            <p class="mb-1 small">{{ listing?.bestOffer }}</p>
          </div>
          <div class="col-6 col-md-3">
            <div class="fw-bold mb-2 mb-md-3 text-uppercase">WEIGHT</div>
            <p class="mb-1 small">{{ getWeight(listing?.material_weight_wanted) | number }} Kg</p>
          </div>
          <div class="col-6 col-md-3">
            <div class="fw-bold mb-2 mb-md-3 text-uppercase">REMAINING</div>
            <p class="mb-1 small">{{ listing?.remaining_quantity }}</p>
          </div>
          <div class="col-6 col-md-3">
            <div class="fw-bold mb-2 mb-md-3 text-uppercase">STATE</div>
            <div class="d-flex align-items-center gap-1">
              <mat-icon [style.color]="getStateColor(listing!.state)">fiber_manual_record</mat-icon>
              <span class="small" [style.color]="getStateColor(listing!.state)">{{ listing?.state | titlecase }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Desktop separator -->
      <div class="col-12 d-xl-none d-lg-block">
        <hr class="my-2" />
      </div>

      <!-- Button Section -->
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center justify-content-lg-end">
        <button mat-stroked-button class="border-primary primary" (click)="onViewDetail()">VIEW DETAIL</button>
      </div>
    </div>
  </div>
</div>
