@import 'variables.scss';
.large-checkbox {
  display: flex;
  align-items: center;

  ::ng-deep .mdc-checkbox {
    position: relative;

    .mdc-checkbox__background {
      width: 30px;
      height: 30px;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }

  ::ng-deep .mat-mdc-checkbox .mat-mdc-checkbox-ripple,
  ::ng-deep .mdc-checkbox__ripple {
    width: 40px;
    height: 40px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
  }

  ::ng-deep .mat-mdc-checkbox-touch-target {
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  ::ng-deep .mdc-label {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 16px;
    line-height: 30px;
  }

  ::ng-deep .mdc-checkbox__native-control {
    width: 30px;
    height: 30px;
  }

  ::ng-deep .mdc-form-field {
    display: flex;
    align-items: center;
  }
}

.small-mat-form-field {
  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 30px !important;
    background-color: white !important;

    .mat-mdc-form-field-flex {
      height: 100%;
      min-height: unset !important;
    }

    .mdc-notched-outline {
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;

      .mdc-notched-outline__leading,
      .mdc-notched-outline__trailing {
        height: 100%;
      }

      .mdc-notched-outline__notch {
        height: 100%;
      }
    }

    .mat-mdc-form-field-infix {
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;

      input.mat-mdc-input-element {
        margin-top: 0;
        margin-bottom: 0;
        line-height: normal;
      }
    }

    .mat-mdc-select-arrow-wrapper {
      height: 30px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-top: 8px;
    }
  }

  ::ng-deep .mat-mdc-form-field-type-mat-select {
    .mat-mdc-select-arrow-wrapper {
      transform: translateY(-2px);
      height: 100%;
      display: flex;
      align-items: flex-start;
      padding-top: 6px;
    }

    .mat-mdc-form-field-infix {
      .mat-mdc-select-trigger {
        position: relative;
        top: -13px;
      }
    }
  }
}

.filter-item-label {
  color: #1d1d1b99;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-select-item-label {
  color: #1d1d1b99;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 6px !important;
}

@media screen and (min-width: 992px) {
  .sold_listings {
    align-items: center !important;
  }

  .sort_by-wrapper {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
}

:host::ng-deep {
  mat-select {
    .mat-mdc-select-placeholder {
      color: #1d1d1b;
      font-weight: bold;
    }
  }

  .filter-wrapper mat-form-field {
    height: 34px;
  }

  .text-input-wrapper .mat-mdc-form-field-infix {
    min-height: unset;
  }
}

.filter-wrapper {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;

  &.open-mobile-filter {
    transform: translate(0);
  }

  @media screen and (max-width: 767px) {
    background-color: #fff !important;
    z-index: 5;
    transform: translateX(-100%);

    .sort_by-wrapper {
      display: none;
    }

    .select-wrapper {
      mat-form-field {
        height: 50px;
      }

      mat-select {
        height: 5px;
      }
    }

    .text-input-wrapper {
      mat-form-field {
        height: 50px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    position: relative;

    .select-item {
      max-width: 120px;
    }

    .input-item {
      max-width: 120px;
    }

    .date-item {
      max-width: 130px;
    }

    .sortBy-wrapper {
      flex: 1;
      display: flex;
      justify-content: end;

      .select-item {
        max-width: 180px !important;
      }
    }

    .dateRange-wrapper {
      width: 270px;
    }
  }

  .input-item {
    input[matInput] {
      &::placeholder {
        font-weight: 700 !important;
        color: $black !important;
      }
      &::-webkit-input-placeholder {
        font-weight: 700 !important;
        color: $black !important;
      }
      &::-moz-placeholder {
        font-weight: 700 !important;
        color: $black !important;
        opacity: 1 !important;
      }
      &:-ms-input-placeholder {
        font-weight: 700 !important;
        color: $black !important;
      }
    }
  }
}

.clear-all-btn {
  position: absolute;
  right: 0px;
  top: 65px;
  font-size: var(--fs-14);
  padding: 2px 8px;
  border-radius: $border-radius-tiny;
  background-color: $info;
  cursor: pointer;
  z-index: 4;

  &:hover {
    background-color: $on-primary;
  }
}

@media (max-width: 768px) {
  .filter-scrollable {
    max-height: 60vh;
    width: 100vh;
    overflow-y: auto;
    padding-bottom: 16px;
    padding-right: 16px;
  }
}
