<app-common-layout [title]="'Account Settings'">
  <div class="{{ activeTab() !== undefined ? 'd-none' : 'd-flex flex-column' }} d-lg-none">
    @for (item of listTab; track item.title) {
      <div class="d-flex gap-2 p-3 list-item" (click)="selectTab(item.title)">
        <mat-icon fontSet="material-icons-outlined">{{ item.icon }}</mat-icon>
        <p class="mb-0 flex-fill fw-bold text-uppercase">{{ item.title }}</p>
        <mat-icon>chevron_right</mat-icon>
      </div>
    }
  </div>

  <div class="{{ activeTab() !== undefined ? 'd-block' : 'd-none d-lg-block' }}">
    <mat-tab-group class="common-tab" [selectedIndex]="activeTab()" animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="My profile"> </mat-tab>

      <mat-tab label="Company information"> </mat-tab>

      <mat-tab label="Material preferences"> </mat-tab>

      <mat-tab label="Notifications"> </mat-tab>

      <mat-tab label="Company documents"> </mat-tab>

      <mat-tab label="My locations"> </mat-tab>
    </mat-tab-group>
    <app-tab-container (back)="closeTab()">
      <router-outlet></router-outlet>
    </app-tab-container>
  </div>
</app-common-layout>
