<div class="w-100">
  <div class="border-thin cursor-pointer rounded-4 p-3 p-md-4 mt-4 mb-3" (click)="onViewDetail()">
    <div class="d-flex flex-md-row flex-column justify-content-between align-items-center">
      <!-- BUYER Section -->
      <div class="col-12 col-md-6 col-lg-2 mb-md-0 mb-3">
        <div class="fw-bold mb-3">{{ 'BUYER' | translate }}</div>
        <p class="mb-1">{{ purchase?.buyer?.user?.username || '-' }}</p>
        <p class="mb-1">{{ purchase?.buyer?.user?.firstName }} {{ purchase?.buyer?.user?.lastName }}</p>
        <p class="mb-1">{{ purchase?.buyer?.company?.name }}</p>
        <p class="mb-1">{{ countryCodeToName(purchase?.buyer?.country) }}</p>
      </div>

      <!-- SELLER Section -->
      <div class="col-12 col-md-6 col-lg-2">
        <div class="fw-bold mb-3">{{ 'SELLER' | translate }}</div>
        <p class="mb-1">{{ purchase?.seller?.user?.username }}</p>
        <p class="mb-1">{{ purchase?.seller?.user?.firstName }} {{ purchase?.seller?.user?.lastName }}</p>
        <p class="mb-1">{{ purchase?.seller?.company?.name }}</p>
        <p class="mb-1">{{ countryCodeToName(purchase?.seller?.country) }}</p>
      </div>

      <!-- Mobile separator -->
      <div class="col-12 d-md-none">
        <hr class="my-2" />
      </div>

      <!-- Middle Information Section -->
      <div class="col-12 col-lg-6">
        <div class="d-flex justify-content-between">
          <!-- First Row -->
          <div class="col-3">
            <div class="fw-bold mb-3">{{ 'DATE' | translate }}</div>
            <p class="mb-1">{{ purchase?.offer?.createdAt | date: 'dd/MM/YYYY' }}</p>
          </div>
          <div class="col-3">
            <div class="fw-bold mb-3">{{ 'PACKING' | translate }}</div>
            <p class="mb-1">{{ getPackingName(purchase?.listing?.materialPacking) }}</p>
          </div>
          <div class="col-3">
            <div class="fw-bold mb-3">{{ 'STATUS' | translate }}</div>
            @if (purchase?.offer; as offer) {
              <p class="mb-1" [style.color]="getOfferStatusColor(offer.status)">{{ offer.status | titlecase | translate }}</p>
            }
          </div>
        </div>

        <div class="d-flex justify-content-between mt-3">
          <!-- Second Row -->
          <div class="col-3">
            <div class="fw-bold mb-3">{{ 'MATERIAL' | translate }}</div>
            <p class="mb-1">{{ getMaterialName(purchase?.listing?.materialType) }}</p>
          </div>
          <div class="col-3">
            <div class="fw-bold mb-3">{{ 'AMOUNT' | translate }} (GBP)</div>
            <p class="mb-1">{{ purchase?.offer?.offeredPricePerUnit | currency: 'GBP' : 'symbol' : '1.2-2' : 'en-GB' }}</p>
          </div>
          <div class="col-3">
            <div class="fw-bold mb-3">{{ 'STATE' | translate }}</div>

            @if (purchase?.offer; as offer) {
              <div class="d-flex align-items-center gap-1">
                <mat-icon [style.color]="getOfferStateColor(offer.state)">fiber_manual_record</mat-icon>
                <span class="small" [style.color]="getOfferStateColor(offer.state)">{{
                  mapOfferStateToLabel(offer.state) | titlecase | translate
                }}</span>
              </div>
            }
          </div>
        </div>
      </div>

      <!-- Mobile separator -->
      <div class="col-12 d-lg-none">
        <hr class="my-2" />
      </div>

      <!-- Button Section -->
      <button mat-stroked-button class="border-primary primary py-4 fw-bold" style="max-width: 215px">
        {{ 'VIEW DETAILS' | translate }}
      </button>
    </div>
  </div>
</div>
