<div class="w-100">
  <div class="border cursor-pointer border-primary rounded-4 p-3 p-md-4 mt-4 mb-3" (click)="onViewDetail()">
    <div class="row gy-2">
      <!-- SELLER Section -->
      <div class="col-12 col-md-6 col-lg-2">
        <div class="fw-bold mb-3">{{ 'BUYER' | translate }}</div>
        <p class="mb-1">{{ wanted?.createdBy?.user?.id || '-' }}</p>
        <p class="mb-1">{{ wanted?.createdBy?.user?.firstName || '-' }} {{ wanted?.createdBy?.user?.lastName || '-' }}</p>
        <p class="mb-1">{{ wanted?.createdBy?.company?.name || '-' }}</p>
        <p class="mb-1">{{ countryCodeToName(wanted?.createdBy?.location?.country) || '-' }}</p>
      </div>

      <div class="col-12 d-md-none">
        <hr class="my-2" />
      </div>

      <div class="col-12 col-md-10 d-md-flex flex-md-row flex-column">
        <div class="d-md-flex col-md-10 justify-content-between">
          <div class="col-md-3 flex-md-column d-flex col-12">
            <div class="flex-column mb-5 col-md-auto col-6">
              <div class="fw-bold mb-3 w-100">{{ 'DATE REQUIRED FROM' | translate }}</div>
              <div class="mb-1 w-100">{{ (wanted?.start_date | date: 'dd/MM/YYYY') || '-' }}</div>
            </div>
            <div class="flex-column col-md-auto col-6">
              <div class="fw-bold mb-3 w-100">{{ 'DATE LISTED' | translate }}</div>
              <div class="mb-1 w-100">{{ (wanted?.created_at | date: 'dd/MM/YYYY') || '-' }}</div>
            </div>
          </div>

          <div class="col-md-3 flex-md-column d-flex col-12">
            <div class="flex-column col-md-auto col-6 mb-5">
              <div class="fw-bold mb-3 w-100">{{ 'QUANTITY REQUIRED' | translate }}</div>
              <div class="mb-1 w-100">{{ (wanted?.material_weight_wanted | number) || '-' }} MT</div>
            </div>
            <div class="flex-column col-md-auto col-6">
              <div class="fw-bold mb-3 w-100">{{ 'MATERIAL' | translate }}</div>
              <div class="mb-1 w-100">{{ getMaterialName(wanted?.material_type) || '-' }}</div>
            </div>
          </div>

          <div class="col-md-3 flex-md-column d-flex col-12">
            <div class="flex-column mb-5 col-md-auto col-6">
              <div class="fw-bold mb-3 w-100">{{ 'PACKAGING' | translate }}</div>
              <div class="mb-1 w-100">{{ getPackingName(wanted?.material_packing) || '-' }}</div>
            </div>
            <div class="flex-column col-md-auto col-6">
              <div class="fw-bold mb-3 w-100">{{ 'STORAGE' | translate }}</div>
              <div class="mb-1 w-100">{{ (wanted?.waste_storation | titlecase) || '-' }}</div>
            </div>
          </div>

          <div class="col-md-3 flex-md-column d-flex col-12">
            <div class="flex-column mb-5 col-md-auto col-6">
              <div class="fw-bold mb-2 mb-md-3 text-uppercase">{{ 'STATUS' | translate }}</div>
              <p class="mb-1 small fw-500" [style.color]="getListingStatusColor(wanted!.status)">
                {{ (wanted?.status | titlecase) || '-' }}
              </p>
            </div>

            <div class="flex-column col-md-auto col-6">
              <div class="fw-bold mb-2 mb-md-3 text-uppercase">{{ 'STATE' | translate }}</div>
              <div class="d-flex align-items-center gap-1">
                <mat-icon [style.color]="getListingStateColor(wanted!.state)">fiber_manual_record</mat-icon>
                <span class="small" [style.color]="getListingStateColor(wanted!.state)">{{ (wanted?.state | titlecase) || '-' }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-2 d-flex align-items-center justify-content-center justify-content-lg-end">
          <button mat-stroked-button class="border-primary primary py-4 fw-bold">{{ 'VIEW DETAILS' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
