<app-common-layout title="Wanted Material">
  <app-filter
    [displayFilter]="['country', 'materialType', 'materialItem', 'materialPacking', 'wasteStoration', 'showFullfilledListing']"
    (filterChanged)="onFilterChange($event)"
  ></app-filter>
  @if (loading()) {
    <app-spinner></app-spinner>
  } @else {
    <app-product-grid [items]="items()" [totalItems]="totalItem()"></app-product-grid>
  }
  <app-pagination [pageNumber]="1" [totalPage]="10" (pageChange)="onPageChange($event)"></app-pagination>
  <hr />
  <app-listing-footer></app-listing-footer>
</app-common-layout>
