<div class="container-fluid p-3 p-md-4 p-lg-4">
  <div class="d-flex justify-content-between align-items-center w-100">
    <h2 class="fw-bold flex-grow-1">Company Documents</h2>
    <div (click)="close()" class="cursor-pointer">
      <app-icon iconName="close"></app-icon>
    </div>
  </div>

  <mat-dialog-content>
    <form [formGroup]="formGroup">
      <div class="col-md-9 col-12 mb-4">
        <mat-label class="fw-bold mb-1 d-block" i18n>WHICH PERMIT/LICENCE DO YOU HAVE?*</mat-label>
        <mat-radio-group class="d-flex justify-content-between flex-wrap" formControlName="documentType">
          <mat-radio-button class="bold-label col-md-auto col-9" value="environmental_permit" i18n>Environmental Permit </mat-radio-button>
          <mat-radio-button class="bold-label col-md-auto col-9" value="waste_exemption" i18n> Waste Exemptions </mat-radio-button>
          <mat-radio-button class="bold-label col-md-auto col-9" value="other" i18n> Other </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-12 mb-4" [hidden]="!(documentType.value == CompanyDocumentType.EnvironmentalPermit)">
        <h6 class="mt-5 mb-4 fw-bold" i18n>UPLOAD AS ENVIRONMENTAL PERMIT*</h6>
        <app-file-upload
          [maxFile]="6"
          (filesAdded)="handleFileReady($event, 'document', CompanyDocumentType.EnvironmentalPermit)"
          (uploadValid)="documentValid.set($event)"
          [notAcceptable]="['.doc', '.docx', '.xls', '.xlsx']"
          [expiryDateMode]="'optional'"
          [fileList]="environmentPermitDocuments"
        ></app-file-upload>
        <p>Accepted file types: pdf, docx, png, jpeg, Max. file size: 25 MB, Max. files: 6</p>
      </div>

      <div class="col-12 mb-4" [hidden]="!(documentType.value == CompanyDocumentType.WasteExemption)">
        <h6 class="mt-5 mb-4 fw-bold" i18n>UPLOAD AS WASTE EXEMPTIONS*</h6>
        <app-file-upload
          [maxFile]="6"
          (filesAdded)="handleFileReady($event, 'document', CompanyDocumentType.WasteExemption)"
          (uploadValid)="documentValid.set($event)"
          [notAcceptable]="['.doc', '.docx', '.xls', '.xlsx']"
          [expiryDateMode]="'optional'"
          [fileList]="wasteExemptionDocuments"
        ></app-file-upload>
        <p>Accepted file types: pdf, docx, png, jpeg, Max. file size: 25 MB, Max. files: 6</p>
      </div>

      @if (documentType.value == 'other') {
        <div class="col-md-12 mb-3">
          <label class="fw-bold" i18n>OTHER DOCUMENT DESCRIPTION*</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Type here" type="text" formControlName="otherDocumentType" />
            @if (formGroup.get('otherDocumentType')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
          </mat-form-field>
        </div>
      }
      <div class="col-12 mb-4" [hidden]="!(documentType.value == 'other')">
        <h6 class="mt-5 mb-3 fw-bold text-uppercase" i18n>Other Document Upload*</h6>
        <app-file-upload
          [maxFile]="6"
          (filesAdded)="handleFileReady($event, 'document', 'other')"
          (uploadValid)="documentValid.set($event)"
          [notAcceptable]="['.doc', '.docx', '.xls', '.xlsx']"
          [expiryDateMode]="'optional'"
          [fileList]="otherDocuments"
        ></app-file-upload>
        <p>Accepted file types: pdf, docx, png, jpeg, Max. file size: 25 MB, Max. files: 6</p>
      </div>

      <div class="col-md-7 col-12 mb-4">
        <mat-label class="mb-0 fw-bold" i18n> DO YOU HAVE A WASTE CARRIER LICENCE?* </mat-label>
        <mat-radio-group
          formControlName="wasteLicence"
          class="d-flex justify-content-between col-9"
          name="wasteLicence"
          (change)="onLicenceChange($event)"
        >
          <mat-radio-button class="bold-label" [value]="true" i18n> Yes </mat-radio-button>
          <mat-radio-button class="bold-label" [value]="false" i18n> Not Applicable </mat-radio-button>
        </mat-radio-group>
        @if (formGroup.get('wasteLicence')?.hasError('required') && formGroup.get('wasteLicence')?.touched) {
          <mat-error class="mt-0 mat-error" i18n> This field is required </mat-error>
        }
      </div>
      @if (formGroup.get('wasteLicence')?.value) {
        <h6 class="mb-4 mt-5 fw-bold" i18n>UPLOAD WASTE CARRIER LICENCE*</h6>
        <div class="col-12 mb-4">
          <app-file-upload
            (filesAdded)="handleFileReady($event, 'licence', CompanyDocumentType.WasteCarrierLicense)"
            [maxFile]="1"
            (uploadValid)="wasteLicenceValid.set($event)"
            [expiryDateMode]="'optional'"
            [fileList]="wasteCarrierLicenseDocuments"
          ></app-file-upload>
          <p>Accepted file types: pdf, docx, png, jpeg, Max. file size: 25 MB, Max. files: 6</p>
        </div>
      }
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="d-flex justify-content-between align-items-center gap-3 col-md-12 col-12s">
      <button mat-stroked-button class="text-uppercase outline-primary-btn w-100" (click)="close()" i18n>Discard Changes</button>
      <button
        mat-flat-button
        [disabled]="isSubmitDisabled"
        class="text-uppercase primary-btn w-100 fw-bold"
        [class.overlay-spinner]="submitting()"
        (click)="submit()"
        i18n
      >
        Save Changes
      </button>
    </div>
  </mat-dialog-actions>
</div>
