@import "variables";

.icon-wrapper {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #1d1d1b;
  display: flex;
  align-items: center;
  justify-content: center;

  &.highlight {
    background-color: $primary;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
}
