<div class="" style="height: 30px">
  @if (product) {
    @switch (status) {
      @case (ProductStatus.Available) {
        <div class="border rounded rounded-pill mb-2 available h-100 d-flex align-items-center">
          <div class="fw-500 fs-18 w-100 d-flex justify-content-center align-items-center gap-1 item-content">
            <mat-icon class="icon">lens</mat-icon>
            @if (fromDate) {
              <span i18n>Available From</span> <span>{{ fromDate }}</span>
            } @else {
              <span i18n>Available Now</span>
            }
          </div>
        </div>
      }

      @case (ProductStatus.Required) {
        <div class="border rounded rounded-pill mb-2 required h-100 d-flex align-items-center">
          <div class="fw-500 fs-18 w-100 d-flex justify-content-center align-items-center gap-1 item-content">
            <mat-icon class="icon">lens</mat-icon>
            @if (fromDate) {
              <span i18n>Required From</span> <span>{{ fromDate }}</span>
            } @else {
              <span i18n>Required Now</span>
            }
          </div>
        </div>
      }

      @case (ProductStatus.Sold) {
        <div class="border rounded rounded-pill mb-2 sold h-100 d-flex align-items-center">
          <div class="fw-500 fs-18 w-100 d-flex justify-content-center align-items-center gap-1 item-content" i18n>Sold</div>
        </div>
      }

      @case (ProductStatus.Expired) {
        <div class="border rounded py-1 rounded-pill mb-2 expired h-100 d-flex align-items-center">
          <div class="fw-500 fs-18 w-100 d-flex justify-content-center align-items-center gap-1 item-content" i18n>
            <mat-icon class="icon">lens</mat-icon>Expired
          </div>
        </div>
      }

      @case (ProductStatus.Ongoing) {
        <div class="border rounded rounded-pill mb-2 ongoing h-100 d-flex align-items-center">
          <div class="fw-500 fs-18 w-100 d-flex justify-content-center align-items-center gap-1 item-content" i18n>
            <mat-icon class="icon">lens</mat-icon>Ongoing
          </div>
        </div>
      }
    }
  }
</div>
