@import '../variables';

.border-radius-tiny {
  border-radius: $border-radius-tiny;
}

.border-bottom {
  border-bottom: 1px solid var(--outline-variant);
}

.border-radius {
  border-radius: $border-radius;
}

.border-info {
  border-color: $info !important;
}

.border-primary {
  border-color: $primary !important;
}

.border-black {
  border-color: $black !important;
}

.box-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.border-error {
  border-color: $error !important;
}

.border-thin {
  border: 0.25px solid $primary !important;
}
