/* COLOR */
$white: white;
$black: #1D1D1B;
$primary: #06985C;
$secondary: #FF7B00;
$error: #D75A66;
$on-error: #FDEDEF;
$gray: #E2E2E2;


/* SPACING */
$spacing-tiny: 4px;
$spacing-small: 6px;
$spacing-medium: 10px;
$spacing-base: 14px;
$spacing-large: 20px;
$spacing-very-large: 30px;

/* BORDER-RADIUS */
$border-radius-tiny: 4px;
$border-radius-half: 8px;
$border-radius: 16px;
$border-radius-large: 28px;

