<mat-dialog-content class="p-0" class="dialog-scrollable p-2">
  <div class="container-fluid p-3 p-md-4 p-lg-4">
    <div class="position-relative">
      <div class="close-button position-absolute top-0 end-0" [mat-dialog-close]="false">
        <app-icon iconName="close"></app-icon>
      </div>
    </div>

    <form [formGroup]="formGroup">
      <h2 class="mb-5">Social</h2>

      <div formArrayName="urls" class="d-flex flex-column gap-4 mb-4">
        @for (url of urls.controls; track $index; let i = $index) {
          <div [formGroupName]="i" class="d-flex align-items-center gap-2">
            <div class="col-md-11">
              <mat-label class="fw-bold" i18n>{{ extractWebsiteName(url.get('key')?.value) }}</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Type here" type="text" formControlName="value" />
                @if (url.get('value')?.hasError('pattern')) {
                  <mat-error i18n>Please enter a valid URL.</mat-error>
                }
              </mat-form-field>
            </div>
          </div>
        }
      </div>
      <div class="mb-4 border rounded p-3 col-md-11">
        <h3 class="mb-5" i18n>Add new social url</h3>
        <div class="row g-3" formGroupName="newUrl">
          <div class="col-md-12 mb-4">
            <mat-label class="fw-bold" i18n>SOCIAL NAME</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="e.g. Instagram, LinkedIn" type="text" formControlName="name" />
              @if (newUrl.get('name')?.hasError('required')) {
                <mat-error i18n>This field is required</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="col-md-12 mb-4">
            <mat-label class="fw-bold" i18n>SOCIAL URL</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="https://example.com" type="url" formControlName="url" />
              @if (newUrl.get('url')?.hasError('required')) {
                <mat-error i18n>This field is required</mat-error>
              }
              @if (newUrl.get('url')?.hasError('pattern')) {
                <mat-error i18n>Please enter a valid URL.</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="w-100">
            <button
              mat-raised-button
              color="primary"
              type="button"
              class=""
              (click)="addUrlGroup()"
              [disabled]="!newUrl.get('name')?.value || !newUrl.get('url')?.value"
              i18n
            >
              <mat-icon class="me-2">add</mat-icon>
              Add Social Link
            </button>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center gap-3">
        <button mat-stroked-button class="text-uppercase fw-bold primary border-primary w-100 mt-4" [mat-dialog-close]="false" i18n>
          Discard Changes
        </button>
        <button
          mat-flat-button
          [disabled]="urls.invalid || urls.pristine"
          class="text-uppercase fw-bold text-white background-primary w-100 mt-4"
          [class.overlay-spinner]="submitting()"
          (click)="submit()"
          i18n
        >
          Save Changes
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
