<div class="d-flex gap-2 mb-3">
  <div class="col-md-3 mb-4">
    <mat-label class="fw-bold">TELEPHONE*</mat-label>
    <mat-form-field appearance="outline" class="w-100" subscriptSizing="fixed">
      <mat-select [formControl]="countryCodeControl">
        <mat-select-trigger>
          @if (countryCodeControl.value; as selected) {
            <div class="d-flex align-items-center">
              <i class="fi {{ selected.flagClass }}"></i>
              <span class="ms-1">{{ selected.code }}</span>
            </div>
          }
        </mat-select-trigger>
        @for (item of countryList; track $index) {
          <mat-option [value]="item">
            <i class="fi {{ item.flagClass }}"></i>
            {{ item.code }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-md-9 mb-4">
    <mat-label class="fw-bold">&nbsp;</mat-label>
    <mat-form-field appearance="outline" class="w-100" subscriptSizing="fixed">
      <input matInput placeholder="ex. 741234480" type="text" [formControl]="telephoneControl" />

      @if (telephoneControl.hasError('required')) {
        <mat-error>This field is required</mat-error>
      }
      @if (telephoneControl.hasError('maxlength') || telephoneControl.hasError('pattern')) {
        <mat-error i18n>Invalid telephone number. Please enter a valid number</mat-error>
      }
    </mat-form-field>
  </div>
</div>
