@import "../variables";

.background-primary {
  background-color: $primary;
}

.background-secondary {
  background-color: $secondary;
}

.background-on-primary {
  background-color: $on-primary;
}

.background-error {
  background-color: $error;
}

.background-info {
  background-color: $info;
}

.background-dark {
  background-color: $black !important;
}

.background-on-error {
  background-color: $on-error;
}
