@import '../variables';

.background-primary {
  background-color: $primary;
}

.background-error {
  background-color: $error;
}

.background-dark {
  background-color: $black;
}

.background-on-error {
  background-color: $on-error;
}