@if (product) {
  <div class="border shadow-sm border-primary p-3 rounded rounded-4 product-card" role="button">
    <div class="row">
      <!-- Left side: image and availability -->
      <div class="col-12 col-sm-7 d-flex flex-column h-100">
        <!-- <app-product-status [product]="product" /> -->
        <div class="mt-2 flex-fill" style="border-radius: 28px">
          <img
            [src]="featureImage"
            [alt]="product.title"
            appFallbackImage
            style="object-fit: contain; background-color: #f5f5f5"
            class="img-fluid w-100 rounded product-image"
            loading="lazy"
          />
        </div>
      </div>

      <!-- Right side: product details -->
      <div class="col-12 col-sm-5 product-infor">
        <h4 class="fs-5 fw-bold">{{ product.title }}</h4>
        <div class="d-flex gap-3 align-items-center mt-2 mt-md-4">
          <app-icon iconName="location_on" iconClassName="primary" backgroundColor="#E5F6F0"></app-icon>
          <div class="column">
            <div class="small" i18n>Material Location</div>
            <div class="fw-bold">{{ mapCountryCodeToName[product.country] }}</div>
          </div>
        </div>
        <div class="d-flex gap-3 align-items-center mt-2 mt-md-4">
          <app-icon iconName="lock" iconClassName="primary" backgroundColor="#E5F6F0"></app-icon>
          <div class="column">
            <div class="small" i18n>Quantity Available</div>
            <div class="fw-bold">{{ product.quantity }}MT</div>
          </div>
        </div>

        @if (materialInterest) {
          <div class="d-flex gap-3 align-items-center mt-2 mt-md-4">
            <app-icon iconName="thumbs_up_down" backgroundColor="#FF7B00"></app-icon>
            <div class="secondary" style="cursor: pointer" i18n>Material Interest</div>
          </div>
        }
      </div>
    </div>
  </div>
}
