@if (product) {
  <div class="card border-primary shadow-sm product-card" role="button">
    <div class="card-body p-3">
      <div class="row g-3">
        <div class="col-12 col-md-6">
          <div class="mb-2">
            <app-product-status [product]="product" />
          </div>
          <div class="rounded-4 w-100">
            <img
              [src]="featureImage"
              [alt]="product.title"
              appFallbackImage
              style="object-fit: cover; background-color: #f5f5f5"
              class="img-fluid w-100 rounded product-image rounded-4"
              loading="lazy"
            />
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="d-flex justify-content-between align-items-start mb-3">
            <h5 class="card-title fw-bold text-wrap flex-grow-1 me-2 mb-0 fs-24">
              {{ product.title }}
            </h5>
            <mat-icon class="text-muted flex-shrink-0">star_outline</mat-icon>
          </div>

          <div class="d-flex flex-column gap-3">
            <div class="d-flex align-items-center">
              <div class="me-3 flex-shrink-0">
                <img
                  src="assets/images/kettlebell.svg"
                  appFallbackImage
                  loading="lazy"
                  style="width: 28px; height: 28px"
                  alt="Quantity icon"
                />
              </div>
              <div class="flex-grow-1">
                <div class="d-block fs-16" i18n>Quantity Available</div>
                <div class="fw-bold">{{ product.quantity }}MT</div>
              </div>
            </div>

            <div class="d-flex align-items-center">
              <div class="me-3 flex-shrink-0">
                <mat-icon
                  class="primary background-on-primary rounded-circle d-flex justify-content-center align-items-center flex-shrink-0"
                  style="width: 28px; font-size: 24px; height: 28px"
                  >location_on</mat-icon
                >
              </div>
              <div class="flex-grow-1">
                <small class="d-block fs-16" i18n>Material Location</small>
                <div class="fw-bold">{{ mapCountryCodeToName[product.country] || product.location_other }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      @if (deletable) {
        <div class="delete-button position-absolute" style="top: 10px; right: 10px" (click)="onDelete($event)">
          <mat-icon class="text-danger">delete</mat-icon>
        </div>
      }
    </div>
  </div>
}
