<div class="page-wrapper mx-auto pt-md-5">
  <div class="border border-radius form-container py-3 px-4 px-sm-5 py-md-4">
    <h4 class="fw-bold fs-1 mb-5 text-center">Set password</h4>

    <form [formGroup]="formGroup">
      <div class="row">
        <div class="col-md-6 mb-2">
          <mat-label class="fw-bold mb-1 text-uppercase">PASSWORD*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="password"
              placeholder="******"
              formControlName="password"
            />
          </mat-form-field>

          @if (
            formGroup.get("password")?.touched && getErrorMessage("password")
          ) {
            <mat-error>
              {{ getErrorMessage("password") }}
            </mat-error>
          }
        </div>

        <div class="col-md-6">
          <mat-label class="fw-bold mb-1 text-uppercase"
            >Confirm password*</mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="password"
              placeholder="******"
              formControlName="confirmPassword"
            />
          </mat-form-field>
          @if (
            formGroup.get("confirmPassword")?.touched &&
            getErrorMessage("confirmPassword")
          ) {
            <mat-error>
              {{ getErrorMessage("confirmPassword") }}
            </mat-error>
          }
        </div>
      </div>

      @if (serverError()) {
        <mat-error i18n>Invalid email address and/or password.</mat-error>
      }

      <button
        type="submit"
        class="text-white text-uppercase w-100 text-center background-primary border-radius border p-3 mt-5 fw-bold fs-5"
        (click)="send()"
      >
        Save
      </button>
    </form>
  </div>
</div>
