@if (canShow()) {
  @if (isOwnListing()) {
    @if (isNearingExpiry() && !isExpired()) {
      <div class="warning owner-warning mb-4">
        <mat-icon>info_outline</mat-icon>
        {{ 'Listing expires in {{daysUntilExpiry}} day(s)' | translate: { daysUntilExpiry: daysUntilExpiry() } }}
      </div>
    }
    @if (isExpired()) {
      <div class="warning owner-warning mb-4">
        <mat-icon>error_outline</mat-icon>
        {{ 'Listing has expired' | translate }}
      </div>
    }
  } @else if (isNearingExpiry() && !isExpired()) {
    <div class="warning guest-warning mb-4">{{ 'Listing nearing expiry' | translate }}</div>
  }
}
