@import 'variables';

.error-message {
  border: 2px solid $error !important;
  background-color: rgba($error, 0.2) !important;
}
.tooltip-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
}

.info-icon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  width: 300px;
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 1.4;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
  z-index: 10;
}

.tooltip::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}

.tooltip-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
