<h2 i18n class="fw-bold mb-4">Your Offer Details - Offer Rejected</h2>

<div class="background-error py-4 text-white fw-500 text-center mb-5">
  <p class="mb-1">Bid Amount</p>
  <h2 class="mb-1 fw-bold">£1500/MT</h2>
  <p class="mb-0">(£42.000,00)</p>
</div>

<div class="border rounded px-5 py-4 content-grid">
  <div class="cell">
    <p class="label" i18n>bid date</p>
    <p class="content">12/11/2025</p>
  </div>

  <div class="cell">
    <p class="label" i18n>load quantity</p>
    <p class="content quantity">2/23</p>
  </div>

  <div class="cell">
    <p class="label" i18n>weight per load</p>
    <p class="content">10 MT</p>
  </div>

  <div class="cell">
    <p class="label" i18n>destination</p>
    <p class="content">United Kingdom</p>
  </div>

  <div class="cell">
    <p class="label" i18n>incoterms</p>
    <p class="content">DAP</p>
  </div>

  <div class="cell">
    <p class="label" i18n>Earliest Delivery Date</p>
    <p class="content">10/10/24</p>
  </div>

  <div class="cell">
    <p class="label" i18n>Latest Delivery Date</p>
    <p class="content">15/10/24</p>
  </div>

  <div class="cell">
    <p class="label" i18n>Status</p>
    <p class="content status">Rejected</p>
  </div>

  <div class="cell">
    <p class="label" i18n>Date Rejection</p>
    <p class="content">2023-11-13</p>
  </div>

  <div class="cell">
    <p class="label" i18n>Rejected by</p>
    <p class="content">Admin</p>
  </div>

  <div class="cell">
    <p class="label" i18n>Rejection Reason</p>
    <p class="content">Location not relevant to the seller</p>
  </div>
</div>

<div class="d-flex justify-content-end mt-4">
  <button mat-flat-button class="text-uppercase fw-bold" (click)="onFindNew()">Find new material</button>
</div>
