<h2 class="fw-bold mb-4 mb-lg-5">All Offers</h2>

@for (item of items; track item.id) {
  <div class="wrapper w-100 overflow-auto mb-4 mb-md-5">
    <div class="d-flex p-4 border rounded border-primary justify-content-between gap-4 row-item">
      <div class="column-item">
        <p class="label" i18n>Bid date</p>
        <p class="content">{{ item.date }}</p>
      </div>

      <div class="column-item">
        <p class="label" i18n>Bid amount</p>
        <p class="content fw-bold primary">{{ item.bidAmount }}</p>
      </div>

      <div class="column-item">
        <p class="label" i18n>Buyer Id</p>
        <p class="content fw-bold primary">{{ item.buyerId }}</p>
      </div>

      <div class="column-item">
        <p class="label" i18n>Status</p>
        <p class="content fw-bold primary {{ item.status }}">{{ item.status }}</p>
      </div>

      @if (canAcceptReject(item.status)) {
        <div class="d-flex gap-4">
          <button
            mat-flat-button
            type="button"
            class="accept-btn fw-bold background-primary border-primary text-white"
            [disabled]="actionLoading()"
            (click)="onAccept(item)"
          >
            Accept Offer
          </button>
          <button mat-flat-button type="button" class="reject-btn fw-bold text-white" [disabled]="actionLoading()" (click)="onReject(item)">
            Reject Offer
          </button>
        </div>
      } @else {
        <a routerLink="/offer-detail/{{ item.id }}">
          <button mat-stroked-button type="button" [disabled]="actionLoading()" class="view-detail-btn primary border-primary">
            View details
          </button>
        </a>
      }
    </div>
  </div>
}

<app-pagination class="mt-5" [pageNumber]="page" [totalCount]="totalItems" (pageChange)="onPageChange($event)"></app-pagination>
