<div
  class="d-flex flex-column align-items-center border-1 rounded bg-light p-3"
  style="border-style: dashed"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [class.drag-over]="isDraggingOver"
>
  <input
    type="file"
    class="d-none"
    id="file-upload"
    accept=".jpg, .jpeg, .png, .pdf, .doc, .docx, .xls, .xlsx"
    #fileUploadInput
    (change)="onFileSelected($event)"
    [multiple]="multiple"
  />
  <img
    src="assets/images/cloud_upload_24px.svg"
    alt="Upload Icon"
    class="mb-2"
  />
  @if (!selectedFile().length) {
    <div class="d-block mb-2">Drop file here or</div>
  } @else {
    @for (item of selectedFile(); track $index) {
      <div class="d-block mb2">{{item.name}}</div>
    }
  }
  <button
    class="background-primary text-white text-center mt-3 rounded border py-3 px-4 fw-bold"
    (click)="handleUploadFile($event)"
  >
    SELECT FILES
  </button>
</div>
