<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-5 p-4 background-primary rounded rounded-3">
      <div
        class="mx-auto col-12 d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center"
      >
        <div class="text-white text-center text-md-start mb-4 mb-md-0">
          <h4 class="fs-5 fw-bold mb-2">Nothing find what you need?</h4>
          <p class="mb-0">Click the button to list a required material</p>
        </div>
        <button
          mat-flat-button
          class="primary border bg-white text-primary button-custom-style px-3 py-2 fw-medium"
        >
          LIST REQUIRED MATERIAL
        </button>
      </div>
    </div>
  </div>
</div>
