<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="w-100 mt-5 p-4 p-md-5 background-on-primary rounded rounded-3">
      <div class="d-flex justify-content-between align-items-center col-auto col-md-8 col-lg-7 col-xl-6 mx-auto gap-2">
        <button mat-stroked-button class="col-3 bg-white" [disabled]="pageNumber === 1" (click)="onPreviousPage()">
          <mat-icon>arrow_back</mat-icon>
          <span>BACK</span>
        </button>

        <div class="col-3 col-md-6 d-flex justify-content-center align-items-center">
          @if (pages().length > 0) {
            @for (page of pages(); track $index) {
              <button
                class="rounded text-center border border-2 border-dark p-1 fw-bold mx-1 bg-white"
                [class.background-dark]="page == pageNumber$()"
                [class.text-white]="page == pageNumber$()"
                (click)="onPageButtonClick(page)"
                [style.min-width]="'40px'"
              >
                {{ page }}
              </button>
            }
          }
        </div>

        <button
          mat-flat-button
          class="col-3 d-flex flex-row-reverse justify-content-center align-items-center gap-3"
          [disabled]="pageNumber$() === totalPage() || totalPage() === 0"
          (click)="onNextPage()"
        >
          <span>NEXT</span>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
