<div class="page-wrapper mx-auto pt-md-5">
  <div class="border border-radius form-container py-3 px-4 px-sm-5 py-md-4">
    <h4 class="fw-bold fs-1 mb-5 text-center">Set password</h4>

    <form [formGroup]="formGroup">
      <div class="row">
        <app-input-with-confirm-control
          valueLabel="PASSWORD*"
          confirmLabel="CONFIRM PASSWORD*"
          placeholder="Type here"
          [type]="'password'"
          formControlName="password"
          [isRequired]="true"
        >
        </app-input-with-confirm-control>
        @if (formGroup.get("password")?.hasError("pwdStrengthInvalid")) {
          <div class="col-12">
            <mat-error i18n>
              Invalid password strength. Password must contain at least 8
              characters includes numbers and letters, contain at least 1
              special character.
            </mat-error>
          </div>
        }
        @if (pwdStrength(); as pwdStrength) {
          <div class="fw-500 col-12" i18n>
            Strength:
            <span
              [class.primary]="pwdStrength == 'strong'"
              [class.error]="pwdStrength == 'weak'"
              [class.secondary]="pwdStrength == 'medium'"
              >{{ pwdStrength | titlecase }}</span
            >
          </div>
        }
      </div>

      @if (serverError()) {
        <mat-error i18n>Invalid email address and/or password.</mat-error>
      }

      <button
        type="submit"
        class="text-white text-uppercase w-100 text-center background-primary border-radius border p-3 mt-5 fw-bold fs-5"
        (click)="send()"
      >
        Save
      </button>
    </form>
  </div>
</div>
