<app-admin-layout [title]="'Commercial Management'">
  <div
    mat-button
    class="d-inline-flex align-items-center py-1 rounded px-2 background-primary text-white text-uppercase fw-bold cursor-pointer button-wrapper"
    (click)="onBack()"
  >
    <mat-icon class="icon">west</mat-icon>
    <span>go back</span>
  </div>

  <mat-tab-group class="common-tab" [selectedIndex]="selectedIndex" (selectedTabChange)="onTabChange($event)" animationDuration="0ms">
    <!-- <mat-tab label="MEMBERS"> </mat-tab>

    <mat-tab label="SELLERS"> </mat-tab>

    <mat-tab label="BUYERS"> </mat-tab>

    <mat-tab label="WANTED"> </mat-tab> -->
    @for (item of listTabs; track $index) {
      <mat-tab [label]="item.label"> </mat-tab>
    }
  </mat-tab-group>

  <router-outlet></router-outlet>
</app-admin-layout>
