@import 'variables';

.amount {
  padding: 1px 0 0 1px;
  width: 18px;
  height: 18px;
  background-color: #e84f63;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;

  position: absolute;
  z-index: 1;
  top: 2px;
  right: 0px;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  font-size: 23px;
  cursor: pointer;
}

::ng-deep .notification-menu {
  margin-top: 10px;
  background-color: #fff !important;
  min-width: 640px !important;
  max-height: 80vh;
}
