// Materials
@use '@angular/material' as mat;
@use 'styles/materials/color-pallets_theme-colors.scss' as my-theme;

// Import functions, variables, and mixins needed by other Bootstrap files
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
$enable-dark-mode: false;
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/maps';
// Import Bootstrap Reboot
@import 'bootstrap/scss/root'; // Contains :root CSS variables used by other Bootstrap files
@import 'bootstrap/scss/reboot';
// Import Bootstrap features
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/utilities/api';

@import 'styles/elements';
@import 'styles/materials';
@import 'styles/variables';
@import 'styles/themes';

@include mat.core();

html,
body {
  height: 100%;
  width: 100%;
}

html {
  @include mat.theme((color: (primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Barlow,
      density: 0,
    ));

  --mdc-outlined-button-label-text-color: #1d1d1b;
  --mdc-outlined-button-outline-width: 2px;
}

body {
  margin: 0;
  font-family: Barlow, 'Helvetica Neue', sans-serif;
  color: --var(on-surface);
}

input::placeholder {
  color: #1d1d1b80 !important;
}

.auto-hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-error {
  margin: 0 !important;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.bold-label .mdc-label {
  font-weight: 700 !important;
}
