<mat-dialog-content class="p-0" class="dialog-scrollable p-2">
  <div class="container-fluid p-3 p-md-4 p-lg-4">
    <div class="position-relative">
      <div class="close-button position-absolute top-0 end-0" [mat-dialog-close]="false">
        <app-icon iconName="close"></app-icon>
      </div>
    </div>

    <form [formGroup]="formGroup">
      <h2 class="mb-5">Company Information</h2>
      <div class="row g-3 mb-3">
        <div class="col-md-6">
          <mat-label class="fw-bold mb-1" i18n>COMPANY NAME*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Type Here" type="text" formControlName="name" />
            @if (formGroup.get('name')?.hasError('required')) {
              <mat-error i18n>Company Name is required </mat-error>
            }
            @if (formGroup.get('name')?.hasError('maxlength')) {
              <mat-error i18n>Company Name cannot exceed 100 characters</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-label class="fw-bold mb-1" i18n>WEBSITE</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Type Here" type="text" formControlName="website" />

            @if (formGroup.get('website')?.hasError('pattern')) {
              <mat-error i18n> Please enter a valid URL.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-6">
          <mat-label class="mb-0 fw-bold" i18n> COMPANY INTEREST* </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select placeholder="Please Select" formControlName="companyInterest">
              <mat-option value="both" i18n> Both</mat-option>
              <mat-option value="seller" i18n>Seller</mat-option>
              <mat-option value="buyer" i18n>Buyer</mat-option>
            </mat-select>
          </mat-form-field>
          @if (formGroup.get('companyInterest')?.hasError('required') && formGroup.get('companyInterest')?.touched) {
            <mat-error class="mt-0 mat-error" i18n>This field is required</mat-error>
          }
        </div>
        <div class="col-md-6">
          <mat-label class="fw-bold mb-1" i18n>COMPANY TYPE*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="companyType" placeholder="Please Select">
              <mat-option value="manufacturer" i18n> Manufacturer </mat-option>
              <mat-option value="processor" i18n>Processor</mat-option>
              <mat-option value="recycler" i18n>Recycler</mat-option>
              <mat-option value="broker" i18n>Broker</mat-option>
              <mat-option value="waste_producer" i18n>Waste Producer</mat-option>
            </mat-select>
            @if (formGroup.get('companyType')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-12 mb-4">
        <label class="fw-bold" i18n>COMPANY VAT NUMBER*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Type here" type="text" formControlName="vatNumber" />
          @if (formGroup.get('vatNumber')?.hasError('required')) {
            <mat-error i18n>This field is required </mat-error>
          }
          @if (formGroup.get('vatNumber')?.hasError('maxlength')) {
            <mat-error i18n>VAT Number cannot exceed 20 characters</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="col-md-12 mb-4">
        <label class="fw-bold" i18n>COMPANY REGISTRATION NUMBER*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Type here" type="text" formControlName="registrationNumber" />
          @if (formGroup.get('registrationNumber')?.hasError('required')) {
            <mat-error i18n>This field is required </mat-error>
          }
          @if (formGroup.get('registrationNumber')?.hasError('maxlength')) {
            <mat-error i18n>Company Registration Number cannot exceed 50 characters</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="col-md-12 mb-4">
        <div class="fw-bold">COMPANY DESCRIPTION</div>
        <mat-form-field appearance="outline" class="w-100">
          <textarea matInput rows="7" style="resize: none" formControlName="description"></textarea>
          @if (formGroup.get('description')?.hasError('maxlength')) {
            <mat-error i18n>Company Description cannot exceed 500 characters</mat-error>
          }
        </mat-form-field>
      </div>

      <h2 class="mb-4 mt-5">Business Address</h2>

      <div class="col-md-12 mb-4">
        <label class="fw-bold" i18n>STREET ADDRESS*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Type here" type="text" formControlName="addressLine1" />
          @if (formGroup.get('addressLine1')?.hasError('required')) {
            <mat-error i18n>This field is required </mat-error>
          }
          @if (formGroup.get('addressLine1')?.hasError('maxlength')) {
            <mat-error i18n>Street Address cannot exceed 200 characters</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row g-3 mb-4">
        <div class="col-md-6">
          <mat-label class="fw-bold mb-1" i18n>POSTCODE*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Type here" type="text" formControlName="postalCode" />
            @if (formGroup.get('postalCode')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
            @if (formGroup.get('postalCode')?.hasError('maxlength')) {
              <mat-error i18n>Post Code cannot exceed 20 characters</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-label class="fw-bold mb-1" i18n>CITY*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Type here" type="text" formControlName="city" />
            @if (formGroup.get('city')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
            @if (formGroup.get('city')?.hasError('maxlength')) {
              <mat-error i18n>City cannot exceed 100 characters</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row g-3 mb-4">
        <div class="col-md-6">
          <mat-label class="fw-bold mb-1" i18n>COUNTRY*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="country" placeholder="Please Select">
              @for (item of countryList; track $index; let i = $index) {
                <mat-option color="primary" [value]="item.isoCode">{{ item.isoCode }} - {{ item.name }}</mat-option>
              }
            </mat-select>
            @if (formGroup.get('country')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-label class="fw-bold mb-1" i18n>COUNTRY / STATE / REGION</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Type here" type="text" formControlName="stateProvince" />
            @if (formGroup.get('stateProvince')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
            @if (formGroup.get('stateProvince')?.hasError('maxlength')) {
              <mat-error i18n>Country / State / Region cannot exceed 50 characters</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <mat-label class="fw-bold mb-1" i18n>EMAIL*</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Type here" type="text" formControlName="email" />
          @if (formGroup.get('email')?.hasError('required')) {
            <mat-error i18n>This field is required </mat-error>
          }
          @if (formGroup.get('email')?.hasError('email')) {
            <mat-error i18n>Invalid email address format. Please enter a valid email. </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="mb-4">
        <app-telephone-form-control formControlName="phoneNumber" [isRequired]="true"></app-telephone-form-control>
      </div>

      <div class="d-flex justify-content-between align-items-center gap-3">
        <button mat-stroked-button class="text-uppercase fw-bold primary border-primary w-100 mt-4" [mat-dialog-close]="false" i18n>
          Discard Changes
        </button>
        <button
          mat-flat-button
          [disabled]="formGroup.invalid"
          class="text-uppercase fw-bold text-white background-primary w-100 mt-4"
          [class.overlay-spinner]="submitting()"
          (click)="submit()"
          i18n
        >
          Save Changes
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
