.mat-date-range-input-container {
  display: flex;
  align-items: center;
  position: absolute !important;
  bottom: 27px !important;
}

.mat-date-range-input-wrapper {
  max-width: none !important;
}
