<div class="col-12 col-md-8">
  @if (mode == 'edit') {
    <button mat-flat-button class="px-5 py-2 background-primary text-white d-block d-flex align-items-center" (click)="onBack()">
      <mat-icon class="d-flex align-items-center">west</mat-icon>
      <span i18n class="fw-bold">GO TO MY LOCATION</span>
    </button>
    <div class="d-flex justify-content-between align-items-center mt-5 mb-5">
      <div class="flex-column">
        <div class="fw-bold fs-24">ADDRESS NAME</div>
        <div>10 Downing Street</div>
      </div>
      <div class="col-2">
        <button mat-flat-button class="text-white background-error w-100" (click)="onDeleteLocation()">REMOVE</button>
      </div>
    </div>
  }
  <form [formGroup]="formGroup">
    <p class="my-4 fw-bold fs-24">Site Point Of Contact</p>
    <div class="border-thin py-3 rounded rounded-4 d-flex flex-column justify-content-center">
      <div class="col-md-9 col-9 mx-auto">
        <div class="w-100 mb-4">
          <mat-label class="fw-bold mb-1" i18n>COMPANY NAME*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="ex. WasteTrade" type="text" formControlName="companyName" />
            @if (formGroup.get('companyName')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row g-3 mb-4">
          <div class="col-md-6">
            <mat-label class="fw-bold mb-1" i18n>FIRST NAME*</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="e.g. Mark" type="text" formControlName="firstName" />
              @if (formGroup.get('firstName')?.hasError('required')) {
                <mat-error i18n>This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <label class="fw-bold" i18n>LAST NAME*</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="e.g. Smith" type="text" formControlName="lastName" />
              @if (formGroup.get('lastName')?.hasError('required')) {
                <mat-error i18n>This field is required </mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="w-100 mb-4">
          <mat-label class="fw-bold mb-1" i18n>POSITION IN COMPANY*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Type here" type="text" formControlName="positionInCompany" />
            @if (formGroup.get('positionInCompany')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="w-100 mb-4">
          <app-telephone-form-control></app-telephone-form-control>
        </div>
      </div>
    </div>

    <!-- Address -->
    <p class="my-4 fw-bold fs-24">Address</p>
    <div class="border-thin py-3 rounded rounded-4 w-100 d-flex flex-column justify-content-center">
      <div class="col-md-9 col-9 mx-auto">
        <div class="w-100 mb-4">
          <mat-label class="fw-bold mb-1" i18n>STREET ADDRESS*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="ex. WasteTrade" type="text" formControlName="adressLine" />
            @if (formGroup.get('companyName')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="w-100 mb-4">
          <mat-label class="fw-bold mb-1" i18n>ADDRESS LINE 2*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Type here" type="text" formControlName="addressLine2" />
            @if (formGroup.get('positionInCompany')?.hasError('required')) {
              <mat-error i18n>This field is required </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row g-3 mb-4">
          <div class="col-md-6">
            <mat-label class="fw-bold mb-1" i18n>POST CODE*</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Type here" type="text" formControlName="postcode" />
              @if (formGroup.get('postcode')?.hasError('required')) {
                <mat-error i18n>This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-label class="fw-bold mb-1" i18n>CITY*</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Type here" type="text" formControlName="city" />
              @if (formGroup.get('city')?.hasError('required')) {
                <mat-error i18n>This field is required </mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row g-3 mb-4">
          <div class="col-md-6">
            <mat-label class="fw-bold mb-1" i18n>COUNTY / STATE / REGION</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Type here" type="text" formControlName="stateProvince" />
              @if (formGroup.get('stateProvince')?.hasError('required')) {
                <mat-error i18n>This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-label class="fw-bold mb-1" i18n>COUNTRY*</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select placeholder="Please Select" formControlName="country">
                @for (item of countryList; track $index; let i = $index) {
                  <mat-option color="primary" [value]="item.isoCode">{{ item.isoCode }} - {{ item.name }}</mat-option>
                }
              </mat-select>
              @if (formGroup.get('country')?.hasError('required')) {
                <mat-error i18n>This field is required </mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row g-3 mb-4">
          <app-time-input-form-control formControlName="officeOpenTime">
            <mat-label class="fw-bold">LOCATION OPENING TIME</mat-label>
          </app-time-input-form-control>
        </div>
        <div class="row g-3 mb-4">
          <app-time-input-form-control formControlName="officeCloseTime">
            <mat-label class="fw-bold">LOCATION CLOSING TIME <span class="error">LOADING RAMP ONSIDE</span></mat-label>
          </app-time-input-form-control>
        </div>
        <div class="row g-3 mb-4">
          <mat-label class="mb-0 fw-bold" i18n> LOADING RAMP ONSIDE* </mat-label>
          <mat-radio-group
            class="col-9 col-md-6 d-flex justify-content-between radio-mat-error"
            name="loadingRamp"
            formControlName="loadingRamp"
          >
            <mat-radio-button class="bold-label col-md-4" [value]="true" i18n>Yes </mat-radio-button>
            <mat-radio-button class="bold-label col-md-4" [value]="false" i18n> No </mat-radio-button>
          </mat-radio-group>
          @if (
            formGroup.get('loadingRamp')?.hasError('required') &&
            (formGroup.get('loadingRamp')?.touched || formGroup.get('loadingRamp')?.dirty)
          ) {
            <mat-error class="mt-0 mat-error" i18n> This field is required </mat-error>
          }
        </div>
        <div class="row g-3 mb-4">
          <mat-label class="mb-0 fw-bold" i18n> CAN LOAD/UNLOAD OWN MATERIAL* </mat-label>
          <mat-radio-group
            class="col-md-6 col-9 d-flex justify-content-between radio-mat-error"
            name="weighbridge"
            formControlName="weighbridge"
          >
            <mat-radio-button class="bold-label col-md-4" [value]="true" i18n>Yes </mat-radio-button>
            <mat-radio-button class="bold-label col-md-4" [value]="false" i18n> No </mat-radio-button>
          </mat-radio-group>
          @if (
            formGroup.get('weighbridge')?.hasError('required') &&
            (formGroup.get('weighbridge')?.touched || formGroup.get('weighbridge')?.dirty)
          ) {
            <mat-error class="mt-0 mat-error" i18n> This field is required </mat-error>
          }
        </div>
        <div class="row g-3 mb-4">
          <mat-label class="mb-0 fw-bold" i18n>WHICH CONTAINER TYPES CAN YOU MANAGE ON THIS SITE?* </mat-label>
          <mat-checkbox class="d-block bold-label" color="primary" (change)="selectAllContainerTypes.set(!selectAllContainerTypes())">{{
            selectAllContainerTypes() ? 'Deselect All' : 'Select All'
          }}</mat-checkbox>
          <hr style="opacity: 1" />
          <div class="row px-3">
            <mat-checkbox
              class="col-12 col-md-4 bold-label"
              color="primary"
              (change)="onSelectedItem($event, 'curtain_slider_standard')"
              [checked]="selectAllContainerTypes()"
            >
              Curtain Sider
            </mat-checkbox>
            <mat-checkbox
              class="col-12 col-md-4 bold-label"
              color="primary"
              (change)="onSelectedItem($event, 'shipping_container')"
              [checked]="selectAllContainerTypes()"
            >
              Container
            </mat-checkbox>
            <mat-checkbox
              class="col-12 col-md-4 bold-label"
              color="primary"
              (change)="onSelectedItem($event, 'walking_floor')"
              [checked]="selectAllContainerTypes()"
            >
              Walking Floor
            </mat-checkbox>
            <mat-checkbox
              class="col-12 col-md-4 bold-label"
              color="primary"
              (change)="onSelectedItem($event, 'tipperTrucks')"
              [checked]="selectAllContainerTypes()"
            >
              Tipper trucks
            </mat-checkbox>
            @if (containerType.invalid && containerType.touched) {
              <mat-error class="mt-0 mat-error" i18n> This field is required </mat-error>
            }
          </div>
        </div>
        <div class="row g-3 mb-4">
          <mat-label class="mb-0 fw-bold" i18n> DO YOU HAVE ANY ACCESS RESTRICTIONS?* </mat-label>
          <mat-radio-group class="col-md-6 col-9 d-flex justify-content-between radio-mat-error">
            <mat-radio-button class="bold-label col-md-4" value="true" (change)="showAccessRestriction.set(true)" i18n
              >Yes
            </mat-radio-button>
            <mat-radio-button class="bold-label col-md-4" value="N/a" (change)="showAccessRestriction.set(false)" i18n>
              No
            </mat-radio-button>
          </mat-radio-group>
        </div>
        @if (showAccessRestriction()) {
          <div class="col-12 mb-4">
            <mat-label class="fw-bold mb-1" i18n>ACCESS RESTRICTIONS DETAILS*</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Type here" type="text" />
              @if (formGroup.get('accessRestrictions')?.hasError('required') && formGroup.get('accessRestrictions')?.touched) {
                <mat-error i18n>Please provide details about the access restrictions. </mat-error>
              }
            </mat-form-field>
          </div>
        }
      </div>
    </div>
    <div class="mx-auto col-5 mt-5">
      <button
        mat-flat-button
        type="submit"
        class="w-100 fw-bold"
        [class.overlay-spinner]="submitting()"
        [disabled]="formGroup.invalid"
        (click)="submit()"
      >
        {{ mode ? 'ADD NEW LOCATION' : 'UPDATE DETAILS' }}
      </button>
    </div>
  </form>
</div>
