<div class="page-wrapper mx-auto">
  <div class="border border-radius form-container">
    <h4 class="fw-bold fs-1 mb-5 text-center">Forgotten Password</h4>

    <form [formGroup]="formGroup">
      <div class="col-12 mb-4">
        <mat-label class="fw-bold mb-1">ENTER EMAIL*</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            placeholder="ex. sample@gmail.com"
            type="text"
            formControlName="email"
          />
        </mat-form-field>
        @if (
          formGroup.get("email")?.hasError("required") &&
          formGroup.get("email")?.touched
        ) {
          <mat-error i18n>This is a required field.</mat-error>
        }
        @if (formGroup.get("email")?.hasError("email")) {
          <mat-error i18n>Please enter a valid email address.</mat-error>
        }
        @if (serverError()) {
          <mat-error i18n>{{ serverError() }}</mat-error>
        }
      </div>

      <button
        type="submit"
        class="text-white w-100 text-center text-uppercase background-primary border-radius border p-3 mt-3 fw-bold fs-5"
        (click)="submit()"
      >
        submit
      </button>
    </form>
  </div>
</div>
